main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.lof
main.log
main.lol
main.lot
main.pdf
main.toc
main.synctex.gz
.vscode/*
img/fib_results-eps-converted-to.pdf
img/sum_results-eps-converted-to.pdf
